<div class="desktop-mix-image">
  <header class="login">
    <div class="seal-logo"></div>
  </header>
  <section class="login-container">
    <span>Better Note</span>
    <form action="<%= new_user_path %>" method="post" class="login">
      <%= auth_token_input %>

      <label for="email">Email address</label>
      <input type="text" id="email" name="user[email]" class="email" value="">

      <label for="password">Password</label>
      <input type="password" id="password" name="user[password]"
            class="password" value="">

      <button type="submit" class="guest-login">Guest login</button>
      <button type="submit" class="login">Sign up</button>
    </form>

    <div class="sign-in-login">
      <span class="question-text have-account">Already have an account?</span>
      <%= link_to "Sign in", new_session_path, class: "link-text sign-in" %>
    </div>
  </section>

  <form action="<%= session_path %>" method="post" class="login">
    <%= auth_token_input %>

    <input type="hidden" id="email" name="user[email]"
           class="login-email" value="guest@better-note.com">

    <input type="hidden" id="password" name="user[password]"
          class="login-password" value="password">

    <button type="submit" class="login-btn"></button>
  </form>
</div>

<script type="text/javascript">
  $('button.guest-login').click(function (event) {
    event.preventDefault();
    $('input.login-email').val('guest@better-note.com');
    $('input.login-password').val('password');
    $( "button.login-btn" ).trigger('click');
  })
</script>
